flask
flask-restful
flask-sqlalchemy
flask-security-too
flask_jwt_extended
sqlalchemy
matplotlib
requests
flask-cors
flask-marshmallow
marshmallow-sqlalchemy
flask-mail
weasyprint
redis
celery[redis]